IconPaper ,
Head ButtonClose StringTextQuotControl ,
Body MdButtonClearMemory ,
StringTextQuotSaves ,
ListMemorySaves ,
StringTextQuotNear ,
ListNear ,
IfListClickThenNewBodyThenOnceHqThenOnceXoChargeThenOnceSelfIoChargeThenOnceSelfRqMemorySaves ,
WhileNewBodyThenInputRespond ,